html {
    background-color: black;
}
#Header {
    font-size: 3em;
    text-align: center;
    color: teal;
    border : 4px rgb(2, 55, 55) solid;
    font-family: Courrier, monospace;
    border-radius: 10px;
    text-shadow: 2px 5px 8px rgb(4, 101, 101);
}

#Profil {
    width : 55px;
    height : 55px;
    color : white;
    position : absolute; right : 2%; top : 5%;
}

.title {
    font-size: 1em;
    color: teal;
    font-family: Courrier, monospace;
    position : absolute; left : 3%;
}

.text-container {
    color : white;
    border : 4px rgb(2, 55, 55) solid;
    background-color: rgb(2,55,55);
}

.flex-container {
    margin : 4em;
    padding : 1em;
}